<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>成绩查询Vue版 - TellYouWhat</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">西北大学第三方成绩查询</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="">本学期成绩</a></li>
                <li><a href="">历年成绩</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container harbor-container">
    <div class="harbor-body">
        <form id="appLogin" name="loginForm">
            <div class="form-group">
                <label for="student-number">学号：</label>
                <input id="student-number" title="学号" placeholder="10位纯数字"
                       maxlength="10" v-model="studentNumber" class="form-control">
                <label for="password">密码：</label>
                <input type="password" id="password" title="密码"
                       placeholder="默认密码就是学号" v-model="password" class="form-control">
            </div>
            <div class="text-danger harbor-padding">
                <span>输入不正确</span>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="agreement"> 同意软件使用条款
                    <a href="agreement.html" target="_blank">免责条款</a>
                </label>
            </div>
            <button type="button" class="btn btn-primary btn-lg" @click="login()">查询</button>
        </form>

        <table class="table table-bordered table-hover" id="appShowGrades">
            <tr>
                <th>科目</th>
                <th>成绩</th>
            </tr>
            <tr v-for="grade in grades">
                <td>{{ grade.kcmc }}</td>
                <td>{{ grade.cj }}</td>
            </tr>
        </table>
    </div>
    <footer>
        <div class="footer copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <span>
                            Copyright &copy; HarborZeng
                            <a href="https://tellyouwhat.cn/">tellyouwhat.cn</a>
                        </span> <br/>
                        <span>
                            项目源代码：
                            <a href="https://github.com/HarborZeng/NwuGradeTeller_Vue"
                               target="_blank">
                            https://github.com/HarborZeng/NwuGradeTeller_Vue
                            </a>
                        </span> <br/>
                        <span>
                            此软件仅能以学习交流为目的运行，如果给学校的利益带来任何形式的损失，原作者不负任何责任
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/md5.min.js"></script>
<script>
    const app = new Vue({
        el: '#appShowGrades',
        data: {
            grades: []
        },
        created() {
            fetch('http://ydjw.nwu.edu.cn/university-facade/MyUniversity/MyGrades?token=537f4ac9aded4c2e8fd8b2b8a827bbac')
                .then(response => response.json())
                .then(json => {
                    this.grades = json.data[4].items;
                    console.log(json.data)
                })
        }
    });

    new Vue({
        el: '#appLogin',
        data: {
            studentNumber: '',
            password: ''
        },
        methods: {
            login() {
                const data = JSON.stringify({
                    u: this.studentNumber,
                    tec: 'android:7.1.2',
                    type: '110',
                    p: md5(this.password + 'murp'),
                    ver: "214",
                    uuid: ''
                });
                console.log(data.toString());
                axios.post(
                    'http://ydjw.nwu.edu.cn/university-facade/Murp/Login',
                    {
                        u: this.studentNumber,
                        tec: 'android:7.1.2',
                        type: '110',
                        p: md5(this.password + 'murp'),
                        ver: "214",
                        uuid: ''
                    },
                    {
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        }
                    }
                )
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    })
</script>
</body>
</html>